<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="scm"
            description="R5RS"
            language="R5RS"
            derivedFrom="DynamicRoot"
            validator="R5RS.R5RSValidator"
            validatorClass="R5RS.R5RSValidator"
      ></language>
   </extension>
   <extension
         id="R5RS.parser"
         name="R5RS Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="R5RS.R5RSParseController"
            language="R5RS">
      </parser>
   </extension>    
</plugin>
